body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

#app-wrapper {
  height: 100%;
}

.top-section {
  height:100%;
  background-color: #22253B;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.top-inner {
  padding-top: 25px;
}

.section {
  height: 100%;
  border: 1px solid #eee;
}

#body-wrapper {
  position: relative;
  height: 100%;
}

.navbar {
  position: absolute;
  bottom: 2px;
  height: 50px;
}

.title-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #fff;
  padding: 0;
}

.nav-list {
  line-height: 50px;
}

.nav-left {
  float: left;
  padding-left: 20px;
}

.me-icon {
  padding-bottom: 20px;
}

.me-icon-img {
  border-radius: 100%;
  height: 250px;
}

.title-text {
  color: #fff;
  font-size: 70px;
  margin-bottom: 15px;
}

.subtitle-text {
  padding-top: 10px;
  color: #fff;
  font-size: 22px;
  width: 280px;
  margin: 0 auto;
  line-height: 1.2;
}

.title-separator {
  width: 360px;
  background: none;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-right {
  float: right;
  padding-right: 40px;
}

.nav-item {
  display: inline;
  color: #fff;
  padding-left: 40px;
}

.headline {
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

.rrssb-buttons {
  height: 20px;
}

.social-buttons-list {
  list-style-type: none;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  bottom: 10px;
}

.social-button {
  display: inline;
  padding: 10px;
}

.social-button a {
  color: #676;
  font-size: 18px;
  text-decoration: none;
}

.social-button a:hover {
  color: 333;
}
