body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  min-width: 500px;
}

.top-section {
  height: 540px;
  background-color: #1b1e2b;
  margin: 0 auto;
  text-align: center;
  position: relative;
  min-width: 500px;
}

.top-inner {
  padding-top: 40px;
}

.section {
  height: 480px;
}

#work-section {
  background-color: #93a8b6;
}

#projects-section {
  background-color: #245372
}

#body-wrapper {
  position: relative;
  height: 100%;
}

.nav-top {
  position: absolute;
  top: 10px;
  color: #fff;
  width: 100%;
  text-align: left;
  min-width: 500px;
}

.nav-top-list {
  width: 40%;
}

.nav-right {
  float: right;
  text-align: left;
}

.nav-left {
  float: left;
  text-align: right;
}

.nav-item {
  display: inline-block;
  width: 49%;
  font-size: 20px;
  text-align: center;
}

.me-icon {
  padding-bottom: 30px;
}

.me-icon-img {
  border-radius: 100%;
  height: 250px;
}

.top-info {
  width: 400px;
  margin: 0 auto;
  border: 4px solid #93a8b6;
  padding: 20px;
}

.title-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 60px;
  color: #efefef;
  padding: 0;
}

.subtitle-text {
  padding-top: 10px;
  font-size: 24px;
  color: #cbdee7;
  width: 280px;
  margin: 0 auto;
  line-height: 1.2;
}

.title-separator {
  width: 360px;
  background: none;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.headline {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #fff;
}

.rrssb-buttons {
  height: 20px;
}

.social-buttons-list {
  list-style-type: none;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  bottom: 10px;
}

.social-button {
  display: inline;
  padding: 10px;
}

.social-button a {
  color: #676;
  font-size: 18px;
  text-decoration: none;
}

.social-button a:hover {
  color: 333;
}
