{% extends "layout.html" %}

{% block body %}
<div class="headline">
  <h1>More coming soon.</h1>
</div>

<ul class="social-buttons-list">
  <li class="social-button li"><a target= "_blank" href="https://www.linkedin.com/profile/view?id=189674411&authType=name&authToken=K8jw&locale=en_US&pvs=pp&trk=ppro_viewmore">LinkedIn</a></li>
  <li class="social-button tw"><a target= "_blank" href="https://twitter.com/broldak">Twitter</a></li>
  <li class="social-button gh"><a target= "_blank" href="https://github.com/broldak">Github</a></li>
  <li class="social-button em"><a href="mailto:broldak@gmail.com">Email</a></li>
</ul>
{% endblock %}
