<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

<title>Brian Oldak</title>

<div id="app-wrapper">
  <div class="top-section">
    <div class="me-icon">
      <img class="me-icon-img" src=" {{url_for('static', filename='img/me.png') }}"/>
    </div>
    <div class="title-text">
      Brian Oldak
    </div>
    <hr class="title-separator">
    <div class="subtitle-text">
      Mobile and Web Developer currently at Carnegie Mellon University
    </div>
  </div>

  <div id="body-wrapper">
    {% block body %}{% endblock %}
  </div>
</div>
