<div class="headline">
  <h1>Work</h1>
</div>

<div class="work-detail-container">
  <ul class="work-detail-list">
    <li class="work-item">
      <div class="company-name">LinkedIn</div>
      <div class="work-description">
        Web developer intern on the Higher Education team.
      </div>
      <div class="work-time">
        Summer 2014
      </div>
    </li>
    <li class="work-item">
      <div class="company-name">Champion Briefs</div>
      <div class="work-description">
        Mobile and Web developer. Built and maintained iOS app and web app.
      </div>
      <div class="work-time">
        Summer 2013-present
      </div>
    </li>
    <li class="work-item">
      <div class="company-name">Rosetta</div>
      <div class="work-description">
        Software development intern. Worked primarily in Java and JSP.
      </div>
      <div class="work-time">
        Summer 2013
      </div>
    </li>
  </ul>
</div>
